body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
}

h2 {
  margin: 0;
}

header ul li:hover {
  background-color: #eaeaea;
  border-radius: 50px;
}

header ul li a:hover {
  color: rgb(0, 0, 0);
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.footer nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer nav ul li {
  display: inline;
  margin-right: 10px;
}

.footer nav ul li a {
  text-decoration: none;
  color: #555555;
}

.footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .left-content {
  text-align: left;
}

.footer .right-content {
  text-align: right;
}

.footer .left-content nav ul li a {
  color: #ffffff;
}

.footer .left-content nav ul li a:hover {
  color: #555555;
}

.footer p {
  margin: 5px 0;
}